@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.syncfusion.com/ej2/material.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #6366f1;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #10151c;
}

.card-container {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px; */
}

.card {
  position: relative;
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 500px;
  transform: perspective(750px) translate3d(0px, 0px, -250px) scale(1, 1);
  border-radius: 20px;
  /* border: 5px solid #e6e6e6; */
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);  
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; 
}

.card:hover {
  transform: translate3d(0px, 0px, -250px);
  box-shadow: 0 10px 40px -10px #6366F1; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front-1,
.card-back-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}
.card-front-1 {
  background: url("/images/Card_Gradient.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card-back-1 {
  color: #ffffff;
  transform: rotateY(180deg);
  background: url("/images/Card_Back.svg");
  background-size: cover;
}
.club_image {
  transform: perspective(3000px) rotateY(5deg);
}
.text-overflow-clamp {
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  display: -webkit-box;
}

.background {
  background: url("/images/Background_gradient.svg");
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6610f2; /* Change this to indigo 500 or your desired color */
  border-color: #6610f2;
}

/* .mainClass:hover > .checkbox_class{
  display: flex;
} */
.movetext:hover{
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  animation: leftright 3s alternate linear infinite;
}
@keyframes leftright {
  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }
  80%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.circular {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#6366f1 5%, #1c2735);
  transform: translate(-50%, -50%);
}
